.imperio { 
    background-color:red;
}
.rebeldes {
    background-color: blue;
}
#Darth{
    font-size: 26px;
}
#Luke{
    font-style: italic;
}
.soldados{
    border-width: 4px;
    border-color: aqua;
    border-style: double;
    letter-spacing: 2px;
}
.apoyo {
    text-align:center;
}
.naves{
    text-transform: uppercase;
}